body {
    transition: background-color 1s ease; 
}


.card {
    width: 300px;
    margin: auto;
    background-color: #fff; 
    color: #000; 
}

.night-mode .card {
    background-color: #333; 
    color: #fff; 
}