.my-element {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    margin: 20px;
    text-align: center;
    line-height: 100px;
  }

  body{
    background-color: black;
  }

  button{
    text-align: center;
  }